html {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: auto;
  /*width: 100%;*/
  max-width: 1280px;
  /*background-color: var(--black-75);*/
  /*background-color: #595f72;*/
  background-image:linear-gradient(rgba(70, 80, 100, 0.60),rgba(89, 95, 112, 0.80));
  color: #ffffff;
  min-height: 100%;
  position: relative;
  width:100%;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.float-right{
  float: right;
  position: relative;
}

#cloudflare-powered-logo
{
  float:right;
}

.Table-Sponsors-ColName {
 width: 300px; 
}
#Table-Sponsors {
  vertical-align: middle;
}
.homepage-image {
  vertical-align: top;
  padding: 2px;
}
.page-footer {
  margin-top: 30px;
}
.Navbar-Link {
  display: block;
  float: left;
  padding: 10px;
  background-color: #000000 ;
  color: #ffffff;
}
.Navbar-Link:visited {
  color: #ffffff;
}
#Navbar-LinkBox {
  background-color: #000000;
}
#Navbar{
  width: 100%;
} 