<div id="page-footer">
	<hr/>
	<div class="float-right" id="cloudflare-powered">
		<p>Powered by Cloudflare Pages™</p>
		<embed height="65" id="cloudflare-powered-logo" src="/static/cloudflare-logo-kit/svg/cf-logo-v.svg"/>
	</div>
</div>