    <meta charset="UTF-8">

    <link rel="shortcut icon" type="image/png" href="static/photos/arslogoblack.png"/>

    <!-- <link rel="stylesheet" type="text/css" href="/static/css/stacks.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
