    <nav id="Navbar">
      <div id="Navbar-LinkBox">
        <a href="/" target="_self" class="Navbar-Link">Home</a>
        <a href="/about.html" target="_self" Class="Navbar-Link">About</a>
        <a href="/sponsors.html" target="_self" class="Navbar-Link">Sponsors</a>
      </div>
      <div></div>
    </nav>
    <br>